C#/src/bin
C#/src/obj
main
Main.class
main.jar
Typescript/node/src/node_modules
Typescript/node/src/package-lock.json
Typescript/node/src/package.json
Swift/.build
Rust/src/target
test_runner
C#/test/obj
C#/test/bin
Rust/test/target
